body{
     display: flex;
     background-color: #2e1081;
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    margin: 15px;
    text-shadow: rgb(148, 140, 140);
    background-color:#F5EFFF;
    position: relative;
}
.card:hover{
    box-shadow: 10px 10px #9593cc;
    bottom: 5px;
    
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1{
    color: white;
    text-align: center;
}


