b{
    color: blue;
    font-family: cursive;
    font-style: inherit;
    font-size: larger;
}
i{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: larger;
}
h2{
    text-align: center;
}
.card-student{
    margin-left: 20px;
    padding: 10px;
}
hr{
    color: rgb(0, 0, 0);
}