#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
    align-items: center;
    font-style: inherit;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dc5b5b;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
/* .read-the-docs {
  color: #888;
}
div{
  height: 200px;
} */
 body{
     display: flex;
     /* background-color: #2e1081; */
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    margin: 15px;
    text-shadow: rgb(148, 140, 140);
    background-color:#F5EFFF;
    position: relative;
}
/* .card:hover{
    box-shadow: 10px 10px #9593cc;
    bottom: 5px;
    
} */
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1{
    color: white;
    text-align: center;
}


